{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- Page Title Section Start -->
        <div class="page-title-section section section-padding-top" data-overlay="0.7" data-bg-image="/static/images/bg/breadcrumb-bg.jpg' %}" alt="breadcrumb-image">
            <div class="page-title">
                <div class="container heading">
                    <!--<h2 class="title">We are an agency located in Lucknow</h2>-->
                    <div class="main-heading">
                     <h1 class="main-heading-about">About Us</h1>
                 </div>
             </div>
         </div>
         <div class="page-breadcrumb position-static">
            <div class="container">
                <ul class="breadcrumb justify-content-center">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                </ul>
            </div>
        </div>
    </div>


    <!-- About Section Start -->
    <div class="section section-padding-top section-padding-bottom-180 section-space">
        <div class="container">

            <!-- About Wrapper Start -->
            <div class="row">

                <!-- About Image Area Start -->
                <div class="col-xl-7 col-lg-6 col-12" data-aos="fade-up">
                    <div class="about-image-area about-image-section">
                        <div class="about-image js-tilt">
                            <img src="{%static  'images/about/about-3.jpg' %}" alt="About-section-image">
                        </div>
                        <div class="about-image js-tilt">
                            <img src={% static  "images/about/about-4.jpg" %} alt="About-section-image">
                        </div>
                        <!-- Animation Shape Start -->
                        <div class="shape shape-1 scene">
                            <span data-depth="1"><img src={% static  "images/shape-animation/about-shape-1.png" %} alt=""></span>
                        </div>
                        <!-- Animation Shape End -->
                    </div>
                </div>
                <!-- About Image Area Start -->

                <!-- About Start -->
                <div class="col-xl-5 col-lg-6 col-12" data-aos="fade-up">
                    <!-- About Content Area Start -->
                    <div class="about-content-area">
                        <!-- Section Title Two Start -->
                        <div class="section-title-two heading">
                            <span class="sub-title sub-title-top">About us</span>
                            <h3 class="title title-header-title">Flexible Approach,
                            Stable Result</h3>
                        </div>
                        <!-- Section Title Two End -->

                        <p>Cradlefeed is an Indian commercial Real estate consultancy and service firm currently serving in more than 15 states.</p>
                        <p>The firm provides services to commercial real estate users with a vast client portfolio, owners, investors, and developers, they include drafting proposing creation and services of the spaces. Currently serves the Corporate parks, Hotel, and retail sector.</p>
                        <p>The Firm believes in delivering the commitment and has managed to grow its identity in a very short period due to sheer dedication and hard work.</p>
                    </div>
                    <!-- About Content Area Start -->
                </div>
                <!-- About Start -->

            </div>
            <!-- About Wrapper End -->

        </div>
    </div>
    <!-- About Section End -->
    <div class="section testimonial-section section-padding-t90 section-padding-bottom">
        <div class="container-fluid">
            <div class="scale-title">
                <h2 class="title fz-32" id="title-current">Current Scale</h2>
                <p class="sub-title">Today we are serving spaces in more than 15 states in India and this graph raises contionusly.
                </p>
            </div>
            <div class="scale-grid-outer">

               <div class="scale-grid-box">
                <img src={% static  "images/agra.jpg" %} alt="Current-Scale-Agra">
                <h4>Agra</h4> 
            </div>
            <div class="scale-grid-box">
                <img src={% static  "images/ahemdabad.jpg" %} alt="Current-Scale-Ahemdabad">
                <h4>Ahemdabad</h4>
            </div>
            <div class="scale-grid-box">
                <img src={% static  "images/bhuvi.jpg" %} alt="Current-Scale-Bhubaneswar">
                <h4>Bhubaneswar</h4>
            </div>
            <div class="scale-grid-box">
                <img src={% static  "images/dhanbad.jpg" %} alt="Current-Scale-Dhanbad">
                <h4>Dhanbad</h4>
            </div>
            <div class="scale-grid-box">
                <img src={% static  "images/Guwahati.webp" %} alt="Current-Scale-Guwahati">
                <h4>Guwahati</h4>
            </div>
            <div class="scale-grid-box">
                <img src={% static  "images/indore.jpg" %} alt="Current-Scale-Indore">
                <h4>Indore</h4>
            </div>
            <div class="scale-grid-box">
                <img src={% static  "images/jaipur.jpg" %} alt="Current-Scale-Jaipur">
                <h4>Jaipur</h4>
            </div>
            <div class="scale-grid-box">
                <img src={% static  "images/kanpur.webp" %} alt="Current-Scale-Kanpur">
                <h4>Kanpur</h4> 
            </div>
            <div class="scale-grid-box">
                <img src={% static  "images/lko.jpg" %} alt="Current-Scale-Lucknow">
                <h4>Lucknow</h4>
            </div>
            <div class="scale-grid-box">
                <img src={% static  "images/patna.jpg" %} alt="Current-Scale-Patna" >
                <h4>Patna</h4>
            </div>
            <div class="scale-grid-box">
                <img src={% static  "images/ranchi.jpg" %} alt="Current-Scale-Ranchi">
                <h4>Ranchi</h4>
            </div>
            <div class="scale-grid-box">
                <img src={% static  "images/varanasi.jpg"  %} alt="Current-Scale-Varanasi">
                <h4>Varanasi</h4>
            </div>
        </div>
    </div>
</div>

</div>

<section class="section section-team">

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="main-title mb-4">Our Greatest Minds</h4>
                    <p class="section-team-content para-desc mx-auto mb-0">Working as an individual has inherent limitations.
                        Teamwork allows people to pool their
                        talent, resources, and insight for mutual benefit. The results of such joint action are
                        greater
                    than the results of individual actions taken separately</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

        <div class="row">
            <div class="col-lg-4 col-md-12 mt-4 pt-2">
                <div class="team text-center">
                    <div class="position-relative">
                        <img src={% static  "images/about/team-1.jpeg" %} class="img-fluid d-block rounded-pill mx-auto" alt="Team-Image">
                        
                    </div>
                    <div class="content pt-3 pb-3">
                        <h5 class="mb-0"><a href="javascript:void(0)" class="name text-dark">Rajat Khemka</a></h5>
                        <small class="designation text-muted">Director</small>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-12 mt-4 pt-2">
                <div class="team text-center">
                    <div class="position-relative">
                        <img src={% static  "images/about/team-2.jpg"  %} class="img-fluid d-block rounded-pill mx-auto" alt="Team-Image">

                    </div>
                    <div class="content pt-3 pb-3">
                        <h5 class="mb-0"><a href="javascript:void(0)" class="name text-dark">Mihir Mishra</a></h5>
                        <small class="designation text-muted">Director</small>
                    </div>
                </div>
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-12 mt-4 pt-2">
                <div class="team text-center">
                    <div class="position-relative">
                        <img src="{% static  'images/about/team-3.jpeg' %}" class="img-fluid d-block rounded-pill mx-auto" alt="Team-Image">

                    </div>
                    <div class="content pt-3 pb-3">
                        <h5 class="mb-0"><a href="javascript:void(0)" class="name text-dark">Abhishek Agrawal</a>
                        </h5>
                        <small class="designation text-muted">Business Developement Head</small>
                    </div>
                </div>
            </div>
            <!--end col-->


            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->





</section>


<div class="testimonial-section section section-padding-t90 section-padding-bottom">
    <div class="container-fluid pl-xl-16 pl-lg-3 pl-md-3 pl-sm-3 pl-3 pr-xl-16 pr-lg-3 pr-md-3 pr-sm-3 pr-3">
        <!-- Section Title Start -->
        <div class="section-title text-center aos-init aos-animate" data-aos="fade-up">
            <h2 class="title fz-32 title-header-title">What our customers are saying about our services</h2>
            <p class="sub-title">
            </p>
        </div>
        <!-- Section Title End -->

        <!--Testimonial Slider Start -->
        <div class="testimonial-slider swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-autoheight aos-init aos-animate" data-aos="fade-up">
            <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-2104px, 0px, 0px); height: 444px;">
                <div class="swiper-slide" data-swiper-slide-index="0" style="width: 476px; margin-right: 50px;">
                    <!-- Static Testimonial Start -->
                    <div class="static-testimonial mb-6">
                        <div class="testimonial-image">
                        </div>
                        <div class="testimonial-content">
                            <p> Working with Cradlefeed was a great idea. They have one of the best infrastructure and very classic interiors. The team is very helpful and polite. Your purpose of using Cradlefeed services are completely valid and successful.</p>
                        </div>
                        <div class="author-info">
                            <div class="cite">
                                <h6 class="name">Chandan Singh</h6>
                                <span class="position">Aakash Edutech Pvt Ltd</span>
                            </div>
                        </div>
                    </div>
                    <!-- Static Testimonial End -->
                </div>

                <div class="swiper-slide swiper-slide-visible swiper-slide-prev" data-swiper-slide-index="1" style="width: 476px; margin-right: 50px;">
                    <!-- Static Testimonial Start -->
                    <div class="static-testimonial mb-6">
                        <div class="testimonial-image">
                        </div>
                        <div class="testimonial-content">
                            <p>Cradlefeed not only provide a good infrastructure but also a very comfortable work environment. There is plenty of space thay have. I would highly recommend this place. </p>
                        </div>
                        <div class="author-info">
                            <div class="cite">
                                <h6 class="name">Saurabh kumar</h6>
                                <span class="position">Bimagine</span>
                            </div>
                        </div>
                    </div>
                    <!-- Static Testimonial End -->
                </div>

                <div class="swiper-slide swiper-slide-visible swiper-slide-active" data-swiper-slide-index="2" style="width: 476px; margin-right: 50px;">
                    <!-- Static Testimonial Start -->
                    <div class="static-testimonial mb-6">
                        <div class="testimonial-image">
                        </div>
                        <div class="testimonial-content">
                            <p>Working with Cradlefeed was a great idea. They have one of the best infrastructure and very classic interiors. The team is very helpful and polite. Your purpose of using Cradlefeed services are completely valid and successful.</p>
                        </div>
                        <div class="author-info">
                            <div class="cite">
                                <h6 class="name">Aman jain</h6>
                                <span class="position">Ruagro Services</span>
                            </div>
                        </div>
                    </div>
                    <!-- Static Testimonial End -->
                </div>
                <div class="swiper-slide swiper-slide-visible swiper-slide-prev" data-swiper-slide-index="3" style="width: 476px; margin-right: 50px;">
                   <!-- Static Testimonial Start -->
                   <div class="static-testimonial mb-6">
                    <div class="testimonial-image">
                    </div>
                    <div class="testimonial-content">
                        <p>Awesome working environment. Ideal for startups and SMB'S. Amazing customer service. Keep it up Cradlefeed! </p>
                    </div>
                    <div class="author-info">
                        <div class="cite">
                            <h6 class="name">Amit Shukla</h6>
                            <span class="position"> AS and Associates Legal Services</span>
                        </div>
                    </div>
                </div>
                <!-- Static Testimonial End -->
            </div> 
            <div class="swiper-slide swiper-slide-visible swiper-slide-prev" data-swiper-slide-index="4" style="width: 476px; margin-right: 50px;">
                <!-- Static Testimonial Start -->
                <div class="static-testimonial mb-6">
                    <div class="testimonial-image">
                    </div>
                    <div class="testimonial-content">
                        <p>Cradlefeed has global outlook with wide opportunities for growth. Also active and innovative management with end to end support. Highly recommended. </p>
                    </div>
                    <div class="author-info">
                        <div class="cite">
                            <h6 class="name">Rakesh Tiwari</h6>
                            <span class="position">ACT Fibernet</span>
                        </div>
                    </div>
                </div>
                <!-- Static Testimonial End -->
            </div>
            <div class="swiper-slide swiper-slide-visible swiper-slide-prev" data-swiper-slide-index="4" style="width: 476px; margin-right: 50px;">
                <!-- Static Testimonial Start -->
                <div class="static-testimonial mb-6">
                    <div class="testimonial-image">
                    </div>
                    <div class="testimonial-content">
                        <p>Best place to work , I suggest people to personally visit the office and share your own experience . Everyone should explore Cradlefeed.</p>
                    </div>
                    <div class="author-info">
                        <div class="cite">
                            <h6 class="name">Krishna Kant</h6>
                            <span class="position">SBI Card</span>
                        </div>
                    </div>
                </div>
                <!-- Static Testimonial End -->
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span>
            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span>
            <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 3"></span>
            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span>
        </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        <!--Testimonial Slider End -->
    </div>
</div>


{% endblock %}