{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Page Title Section Start -->
    <div class="page-title-section section section-padding-top" data-overlay="0.7" data-bg-image="{% static 'images/bg/breadcrumb-bg.jpg' %}" alt="breadcrumb-image">
        <div class="page-title">
            <div class="container heading">
                <!--<h2 class="title">We are an agency located in Lucknow</h2>-->
                <div class="main-heading">
                   <h1>Blog</h1>
               </div>
           </div>
       </div>
       <div class="page-breadcrumb position-static">
        <div class="container">
            <ul class="breadcrumb justify-content-center">
                <li><a href="home.html">Home</a></li>
                <li><a href="blog.html">Blog</a></li>
            </ul>
            <!-- <div class="coming-meaasge"><h2>Coming soon!</h2></div> -->
        </div>
    </div>
</div>
<!-- start blog --> 
<div class="section  pt-40 pb-70">
    <div class="container">
        <div class="section-title-blog">
            <h2>Welcome to the Cradlefeed Blog</h2>
            <p>Stories, News & Tips Regardless the Commercial Property</p>
        </div>
        <div class="row">
         <div class="col-lg-4 col-md-6 blog-box">
            <div class="blog-item bg-ffffff">
                <div class="image">
                    <div class="img-content">
                        <a href="blog-details.html">
                            <img src="{% static 'images/blog/blog1.jpg' %}" alt="Blog-image">
                        </a>
                        <div class="date">
                            <span>20 Aug 2021</span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h3>
                        <a class="content-blog" href="blog-details.html">
                            Commercial Property Renting and Sale - Ready to Move Office Space – Cradlefeed
                        </a>
                    </h3>
                    <a href="blog-details.html" class="blog-btn">Read More...</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 blog-box">
            <div class="blog-item bg-ffffff">
                <div class="image">
                    <div class="img-content">
                        <a href="blog-details-1.html">
                            <img src="{% static 'images/blog/blog3.jpg' %}" alt="Blog-image">
                        </a>
                        <div class="date">
                            <span>20 Aug 2021</span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h3>
                        <a class="content-blog" href="blog-details-1.html">
                            Best Internal Facility Management – Cradlefeed 
                        </a>
                    </h3>
                    <a href="blog-details-1.html" class="blog-btn">Read More...</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 blog-box">
            <div class="blog-item bg-ffffff">
                <div class="image">
                    <div class="img-content">
                        <a href="blog-details-2.html">
                            <img src="assets/images/blog/blog2.jpg" alt="Blog-image">
                        </a>
                        <div class="date">
                            <span>20 Aug 2021</span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h3>
                        <a class="content-blog" href="blog-details-2.html">
                            Drafting and creating fully furnished spaces on Demand - Cradlefeed  
                        </a>
                    </h3>
                    <a href="blog-details-2.html" class="blog-btn">Read More...</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 blog-box">
            <div class="blog-item bg-ffffff">
                <div class="image">
                    <div class="img-content">
                        <a href="blog-details-3.html">
                            <img src="assets/images/blog/blog4.jpg" alt="Blog-image">
                        </a>
                        <div class="date">
                            <span>20 Aug 2021</span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h3>
                        <a class="content-blog" href="blog-details-3.html">
                            Cradlefeed Indian commercial Real Estate investment Consultancy | Cradlefeed
                        </a>
                    </h3>
                    <a href="blog-details-3.html" class="blog-btn">Read More...</a>
                </div>
            </div>
        </div> 
        <div class="col-lg-6 col-md-6 blog-box">
            <div class="blog-item bg-ffffff">
                <div class="image">
                    <div class="img-content">
                        <a href="blog-details-4.html">
                            <img src="assets/images/blog/blog5.jpg" alt="Blog-image">
                        </a>
                        <div class="date">
                            <span>20 Aug 2021</span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h3>
                        <a class="content-blog" href="blog-details-4.html">
                            Cradlefeed Real Estate Investment Consultancy – Cradlefeed
                        </a>
                    </h3>
                    <a href="blog-details-4.html" class="blog-btn">Read More...</a>
                </div>
            </div>
        </div>        
    </div>
</div>
</div>
{% endblock %}