{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-title-section section section-padding-top" data-overlay="0.7" data-bg-image="{% static 'images/bg/breadcrumb-bg.jpg' %}" alt="breadcrumb-image">
        <div class="page-title">
            <div class="container heading">
                <!--<h2 class="title">We are an agency located in Lucknow</h2>-->
                <div class="main-heading">
                   <h1>Contact Us</h1>
               </div>
           </div>
       </div>
       <div class="page-breadcrumb position-static">
        <div class="container">
            <ul class="breadcrumb justify-content-center">
                <li><a href="home.html">Home</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>




<!-- Contact Information Section Start -->
<div class="section section-padding-5">
    <div class="container shape-animate">
        <!-- Section Title Start -->
        <div class=" heading text-left mb-lg-12 mb-sm-8 mb-xs-8" data-aos="fade-up">
            <h2 class="title font-2" id="contact-text">We are hear to help,<br>Let's Talk</h2>
            
        </div>
        <!-- Section Title End -->
    </div>
</div>
<div class="section">
    <div class="grid--contact section-contact-grid">
        <div class="contact-info" data-vivus-hover="">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" data-inject-url="https://cradlefeed.co.in/assets/images/svg/linea/linea-basic-map.svg" class="svgInject">
                    <g>
                        <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M1,59L22,51L42,59L63,51L63,5L42,13L22,5L1,13Z" style="stroke-dasharray: 225, 227; stroke-dashoffset: 0;"></path>
                        <g>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M22,5L22,51" style="stroke-dasharray: 46, 48; stroke-dashoffset: 0;"></path>
                        </g>
                        <g>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M42,13L42,59" style="stroke-dasharray: 46, 48; stroke-dashoffset: 0;"></path>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="info">
                <h3 class="title">Our Locations</h3>
                <p class="brance-location">Head Office</p>
                <address class="info-text">
                    3rd Floor,T.C-14, Shastri Commercial, Vibhuti Khand, Gomti Nagar, Lucknow - 226010, Uttar Pradesh.<br>
                </address>
                <p class="brance-location">Noida Branch</p>
                <address class="info-text">
                    Unit- 206, 2nd Floor,Towr B IThum tower Block A, Sector 62  Noida, Uttar Pradesh 201309<br>
                </address>
            </div>
        </div>
        <div class="contact-info" data-vivus-hover="">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" data-inject-url="https://cradlefeed.co.in/assets/images/svg/linea/linea-basic-message-txt.svg" class="svgInject">
                    <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M10,16L54,16" style="stroke-dasharray: 44, 46; stroke-dashoffset: 42;"></path>
                    <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M10,26L54,26" style="stroke-dasharray: 44, 46; stroke-dashoffset: 45;"></path>
                    <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M10,36L54,36" style="stroke-dasharray: 44, 46; stroke-dashoffset: 45;"></path>
                    <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M32,47L63,47L63,5L1,5L1,47L18,47L18,59Z" style="stroke-dasharray: 225, 227; stroke-dashoffset: 226;"></path>
                </svg>
            </div>
            <div class="info">
                <h4 class="title">Give Us A Call</h4>
                <span class="info-text"><a href="tel: +91 8650700324"> +91 8650700324</a> <br>
                    <span class="info-text"><a href="tel: +91 7800009203"> +91 7800009203</a> <br>
                    </span>
                </div>
            </div>
            <div class="contact-info" data-vivus-hover="">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" data-inject-url="https://cradlefeed.co.in/assets/images/svg/linea/linea-basic-mail-open-text.svg" class="svgInject">
                        <g>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M36,9L45,9" style="stroke-dasharray: 9, 11; stroke-dashoffset: 0;"></path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M19,17L45,17" style="stroke-dasharray: 26, 28; stroke-dashoffset: 0;"></path>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M19,25L45,25" style="stroke-dasharray: 26, 28; stroke-dashoffset: 0;"></path>
                            <g>
                                <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M1,26L32,45.434L63,26" style="stroke-dasharray: 74, 76; stroke-dashoffset: 0;"></path>
                                <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M11.334,21.667L1,26L1,63L63,63L63,26L63,26L52.666,21.667" style="stroke-dasharray: 159, 161; stroke-dashoffset: 0;"></path>
                                <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M11,32L11,1L53,1L53,32" style="stroke-dasharray: 104, 106; stroke-dashoffset: 0;"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="info">
                    <h4 class="title"> Help Desk</h4>
                    <span class="info-text">
                        <a href="mailto:someone@example.com">info.cradlefeed@gmail.com</a>
                        
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Information Section End -->
    <!-- Inquiry form Start -->
    <div class="section inquiry-section-form">
        <h3>Inquiry Form</h3>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 form-group-contact">
                    <div class="form-group">
                        <input type="text" name="name" id="name" class="form-control" required="" data-error="Please enter your first name" placeholder="First Name">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 form-group-contact">
                    <div class="form-group">
                        <input type="text" name="name" id="name" class="form-control" required="" data-error="Please enter your last name" placeholder=" Last Name">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 form-group-contact">
                    <div class="form-group">
                        <input type="email" name="email" id="email" class="form-control" required="" data-error="Please enter your email" placeholder="Email">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 form-group-contact">
                    <div class="form-group">
                        <input type="text" name="phone_number" id="phone_number" required="" data-error="Please enter your number" class="form-control" placeholder="Phone">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 form-group-contact">
                    <div class="send-btn contact-btn">
                        <button type="submit" class="default-btn disabled">
                            Send Message
                            <span></span>
                        </button>
                    </div>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Inquiry form End -->

    <!--Google Map Area Start-->
    <div class="google-map-area section text-center section-padding-bottom section-padding-5">
        <div class="container-fluid">
            <div class="contact-map-area">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3559.2699611922253!2d80.99996231504385!3d26.86316278314906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399be36d9beb2bb9%3A0xe942f25a4454e34f!2sCradlefeed%20Indian%20Commercial%20Real%20Estate%20Consultancy%20Private%20Limited!5e0!3m2!1sen!2sin!4v1618465760643!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
    <!--Google Map Area Start-->



    {% endblock %}