{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-title-section section section-padding-top" data-overlay="0.7" data-bg-image="{% static 'images/bg/breadcrumb-bg.jpg' %}" alt="breadcrumb-image">
  <div class="page-title">
    <div class="container heading">
      <!--<h2 class="title">We are an agency located in Lucknow</h2>-->
      <div class="main-heading">
       <h1>FAQs</h1>
     </div>
   </div>
 </div>
 <div class="page-breadcrumb position-static">
  <div class="container">
    <ul class="breadcrumb justify-content-center">
      <li><a href="home.html">Home</a></li>
      <li><a href="faqs.html">Faqs</a></li>
    </ul>
    <!-- <div class="coming-meaasge"><h2>Coming soon!</h2></div> -->
  </div>
</div>
</div>
<!-- Start Faqs -->
<div class="section ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="faq-content">
          <span>Faq’s</span>
          <h3>Frequently Asked Questions</h3>
          
        </div>
        <div class="accordion-list">

         <button class="accordion">What does cradlefeed consultancy do? <span class="plus-icon"><i class="fal fa-plus "></i></span></button>
         <div class="panel">
          <p>A CRADLEFEED  consultancy service is dedicated to providing businesses with solutions to any business problem and strategic planning and execution for a new project or growth & expansion plans. Today, many management consultancy firms provide several services but enjoy a distinct reputation for a particular specialization.</p>
        </div>
        <button class="accordion"> What is the process of buying a commercial space? <span class="plus-icon"><i class="fal fa-plus "></i></span></button>
        <div class="panel">
         <p><ul> In the event that you need to begin buying commercial real estate, or you need a superior thought of what's in store, consider the main strides in the commercial real estate buying process:
          <li>   Ask yourself why  are you investing.</li>
          <li> Consider your finance options.</li>
          <li>  Secure financing.</li>
          <li> Align yourself with the right people.</li>
          <li> Find the property that meets your criteria.</li>
          <li>  Mind due digilence.</li>
          <li>  Close the deal.</li>
        </ul>
      </p>
    </div>
    <button class="accordion">
     How long does it take to complete the process?
     <span class="plus-icon"><i class="fal fa-plus "></i></span></button>
     <div class="panel">
      <p>Registration process hardly take 6-7 days which includes the peparation of necessary documents and agreement between the client and the company.</p>
    </div>
    <button class="accordion"> Do you work as a broker?<span class="plus-icon"><i class="fal fa-plus "></i></span></button>
    <div class="panel">
      <p>No, we are directly involves to client.</p>
    </div>
    <button class="accordion"> How much do I need for booking a space? <span class="plus-icon"><i class="fal fa-plus "></i></span></button>
    <div class="panel">
      <p>It is depend on the client and company that at which price both of the parties are agreed to closed the deal.</p>
    </div>
    <button class="accordion"> Do you providing a fully furnished space on demand?<span class="plus-icon"><i class="fal fa-plus "></i></span></button>
    <div class="panel">
      <p>Yes</p>
    </div>
    <button class="accordion"> What happen if I am not satisfy with the space and want to cancel contract?<span class="plus-icon"><i class="fal fa-plus "></i></span></button>
    <div class="panel">
      <p>As per agreement the developer can charge a penalty from the buyer however, this should not be over 10 percent of the booking amount.</p>
    </div>
  </div>
</div>
<div class="col-lg-6">
  <div class="faq-image">
    <img src="{% static 'images/faq/faq.jpg' %}" alt="faq-image">
  </div>
</div>
</div>
</div>
</div>
<div class="section faq-contact-area pb-100">
  <div class="container">
    <div class="section-title">
      <span>Questions</span>
      <h2>Do You Have Any Questions?</h2>
    </div>
    <div class="faq-contact-form">
      <form id="contactForm" novalidate="true">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <input type="text" name="name" id="name" class="form-control" required="" data-error="Please enter your name" placeholder="Name">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <input type="email" name="email" id="email" class="form-control" required="" data-error="Please enter your email" placeholder="Email">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <input type="text" name="phone_number" id="phone_number" required="" data-error="Please enter your number" class="form-control" placeholder="Phone">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <input type="text" name="msg_subject" id="msg_subject" class="form-control" required="" data-error="Please enter your subject" placeholder="Subject">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="form-group">
              <textarea name="message" class="form-control" id="message" cols="30" rows="6" required="" data-error="Write your message" placeholder="Your Message"></textarea>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="send-btn">
              <button type="submit" class="default-btn disabled">
                Send Message
                <span></span>
              </button>
            </div>
            <div id="msgSubmit" class="h3 text-center hidden"></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Faqs -->

{% endblock %}