
<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% comment %} {% block title %}<title></title> {% endblock %} {% endcomment %}
    <title>
    {% block title %}
      {% endblock %}
    </title>
    <meta name="keywords" content="about us, Cradlefeed.co.in"/>
    <link rel="icon" href={% static "images/logo/favicon.png" %} type="image/png">
    <link rel="canonical" href="https://cradlefeed.co.in/about.html"/>
    <meta property="og:url" content="https://cradlefeed.co.in/about.html"/>
    <meta property="og:title" content="About Us – Cradlefeed.co.in"/>
    <meta property="og:description" content="Cradlefeed is part of the real estate industry  the India is leading real estate website. We connect real estate startup in India. Learn more."/>
    <meta property="og:site_name" content="Cradlefeed"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://cradlefeed.co.in//static/images/logo/logo.png">
    <meta name="path_role" content="MAIN"/>
    <meta name="author" content="Cradlefeed"/>
    <meta name="description" content="Cradlefeed is part of the real estate industry  the India is leading real estate website. We connect real estate startup in India. Learn more."/>
    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href={% static  "images/favicon.png"> -->
    <link rel="stylesheet" href={% static  "css/vendor/vendor.min.css" %}>
    <link rel="stylesheet" href={% static  "css/plugins/plugins.min.css"  %}>
    <link rel="stylesheet" href={% static  "css/style.min.css" %}>
    <link rel="stylesheet" href={% static  "css/my-style.css" %}>
    <link rel="stylesheet" href={% static  "css/my-style.scss" %}>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href={% static  "css/style.css" %}>
    <link rel="stylesheet" href={% static  "css/device.css" %}>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CSSJ2F3HLT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-CSSJ2F3HLT');
  </script>
</head>

<body>
   <div id="page" class="section about-page">
     <!--  Top Header Start -->
     <div class="header-section header-white sticky-header section full-section">
      <div class="top-header">
            <div class="container">
                <div class="row row-center">
                    <div class="col-md-4 top-header-left">
                        <a href="https://www.linkedin.com/company/69234704/admin/"><i class="fab fa-linkedin linkedin-icon"></i></a>
                        <a href=" https://www.facebook.com/Cradlefeed-Consultancy-Private-Limited-102908238584832"><i class="fa fa-facebook facebook-icon"></i></a>
                        <a href="https://www.instagram.com/cradlefeed.co.in/"><i class="fab fa-instagram instagram-icon"></i></a>
                        <a href="https://in.pinterest.com/cradlefeed/_saved/"><i class="fab fa-pinterest-p pinterest-icon"></i></a>
                    </div> 
                    <div class="col-md-4 top-header-center">
                        <span><a href="tel: +91 8650700324"><i class="fas fa-mobile-alt"></i>  +91 8650700324</a></span> , <span><a href="tel: +91 7800009203"> +91 7800009203</a>
                    </span>
                   </div>
                   <div class="col-md-4 top-header-right">
                    <a href="mailto:someone@example.com"><i class="fas fa-envelope email-icon"></i> <span class="before-text">info.cradlefeed@gmail.com</span></a>

                </div>
            </div>
        </div>
    </div>
<!-- Header Section Start -->
<!-- Header Main Menu Start -->
    <div class="header-inner">
        <div class="container position-relative">
            <div class="row justify-content-between align-items-center">

                <div class="col-xl-2 col-auto order-0">
                    <div class="header-logo">
                        <a href="home.html">
                            <img class="dark-logo" src={% static  "images/logo/logo.png" %} alt="Agency Logo">
                            <img class="light-logo" src={% static  "images/logo/logo.png" %} alt="Agency Logo">
                        </a>
                    </div>
                </div>
                <!-- Header Logo End -->




                <div class="col-auto col-xl d-flex align-items-center justify-content-xl-right justify-content-end order-2 order-xl-1">
                    <div class="menu-column-area d-none d-xl-block position-static">
                        <nav class="site-main-menu">
                            <ul>
                                {% comment %} {{request.path}} {% endcomment %}
                                <li class="{% if request.path == '/' %} active {% endif %}">
                                    <a href="{% url 'home' %}"><span class="menu-text">Home</span></a>
                                </li>
                                <li class="{% if request.path == '/about/' %} active {% endif %}">
                                    <a href="{% url 'about' %}"><span class="menu-text">About Us</span></a>
                                </li>
                                <li  class="{% if request.path == '/blog/' %} active {% endif %}">
                                    <a href="{% url 'blog' %}"><span class="menu-text">Blog</span></a>
                                </li>
                                <li  class="{% if request.path == '/services/' %} active {% endif %}">
                                    <a href="{% url 'services' %}"><span class="menu-text">Services</span></a>
                                </li>
                                <li  class="{% if request.path == '/faq/' %} active {% endif %}">
                                    <a href="{% url 'faq' %}"><span class="menu-text"> Faqs</span></a>
                                </li>
                                <li  class="{% if request.path == '/contact/' %} active {% endif %}">
                                    <a href="{% url 'contact' %}"><span class="menu-text">Contact Us</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div class="header-mobile-menu-toggle toggle-line d-xl-none ml-sm-2 toggle-hover">
                        <button class="toggle">
                            <i class="icon-top"></i>
                            <i class="icon-middle"></i>
                            <i class="icon-bottom"></i>
                        </button>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header Main Menu End -->

 </div>
</div>
</div>
</div>
