{% extends 'base.html' %}
{% load static %}
{% block content %}
        <section>
            <div class="intro-hero-wrap banner-image-height">
                <div class="banner-top"></div>
                <img src="{% static 'images/hero-image/hero-2.jpg' %}" alt="Service-section-image">
                <div class="main-heading">
                  <h1>Cradlefeed Indian commercial Real Estate investment Consultancy | Cradlefeed</h1>
                  <div class="learn--more">
                    <span>
                     <a href="blog-details-3.html">See Our Services <i class='bx bx-right-arrow-alt bx-flashing'></i> 
                     </span>
                 </a>
                </div>
             </div>
         </div>
     </section>

        
        <!-- About Section Start -->
        <div class="section section-padding-t90 section-padding-bottom-90">
            <div class="container about--info about-outer">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-12" data-aos="fade-up">

                        <div class="about-content-area">

                            <div class="section-title-two">
                                <span class="sub-title">About us</span>
                                <h3 class="title" class="">Flexible Approach,<br> Stable Result</h3>
                            </div> 
                        </div>

                    </div>

                    <div class="col-xl-7 col-lg-6 col-12" data-aos="fade-up">
                        <div class="about-heading-area">

                            <p>Cradlefeed is an Indian commercial Real Estate consultancy and service firm as of now serving in excess of 15 states.  </p>
                            <p>The firm offers types of assistance to commercial real estate clients with a huge customer portfolio, proprietors, financial backers and designers, they incorporate drafting, proposing creation and services of the spaces. As of now serves the Corporate parks, Hotels and Retail areas. </p>
                            <p>The Firm trusts in conveying the responsibility and has managed to develop its character in an exceptionally limited capacity to focus time because of sheer commitment and hardwork. </p>

                        </div>
                    </div>
                    <!-- About Start -->

                </div>
                <!-- About Wrapper End -->

            </div>
            <div class="all--features feature-box">
                <div class="boxes">
                    <a href="services-details.html">
                        <div  class="boxes-circle">01</div>
                        <div class="sub--heding sub-heading-scale">
                            <h4> Commercial Renting</h4>
                            <p>The primary goal of any new business is to create a dedicated office space where its employees can produce optimum results. However, at a start-up stage, one must consider the possibility of investing in something smaller and affordable. The dynamic nature of the real estate industry in India suggests that you hire an expert from the industry to be a part of your team. Not only will they assist in renting and selling the commercial property but will also negotiate for you.</p>
                            <a href="services-details.html">Read More...</a>
                        </div>
                    </a>
                </div>
                <div class="boxes">
                    <a href="services-details-1.html">
                        <div  class="boxes-circle">02</div>
                        <div class="sub--heding sub-heading-scale">
                            <h4>Internal Facility Management</h4>
                            <p>Internal facility management refers to managing an organization’s largest asset. As the name suggests, it refers to the upkeep of the facilities and physical buildings. This is achieved by ensuring the comfort, functionality, safety, and efficiency of the built environment. </p>
                            <a href="services-details-1.html">Read More...</a>
                        </div>
                    </a>
                </div>
                <div class="boxes">
                    <a href="services-details-2.html">
                        <div  class="boxes-circle">03</div>
                        <div class="sub--heding sub-heading-scale">
                            <h4>Drafting & Creating Space</h4>
                            <p>Once you have finalised the commercial property that you wish to rent, the next step will be to personalize and design the space to suit your requirements. The basic element of interior designing is space creation and it begins with an extensive analysis of how the space is to be utilised. The designer drafts a plan that specifies the areas of the space and the activities that will take place in those areas</p>
                            <a href="services-details-2.html">Read More...</a>
                        </div>
                    </a>
                </div>
                <div class="boxes">
                    <a href="services-details-3.html">
                        <div  class="boxes-circle">04</div>
                        <div class="sub--heding sub-heading-scale">
                            <h4>Real Estate Investment Consultancy</h4>
                            <p>A real estate consultant has to provide a variety of services to help real estate companies amplify the value of their investments and grow their businesses. Builders, real estate investors, property developers, all depend on real estate investment consultancy groups or firms for advice. These real estate investment consultancy groups may also assist with real estate portfolios including- positioning, strategy, and financial analytics and modeling.</p>
                            <a href="services-details-3.html">Read More...</a>
                        </div>
                    </a>
                </div>

            </div>
        </div>
        <!-- About Section End -->



        <!-- Success Section Start -->
        <div class="section section-padding-top-180 success-section success-section-color success-section-padding-bottom-180">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="about-image-area right-0 skill-image-area">
                            <div class="success-left-img js-tilt">
                                <img src="{% static 'images/skill/skill-1.jpg' %}" alt="Skill-image">
                            </div>
                            <div class="top-left js-tilt">
                                <img src="{% static 'images/skill/skill-1.jpg' %}" alt="Skill-image">  
                            </div>
                            <div class="right-bottom js-tilt">
                             <img src="{% static 'images/skill/skill-1.jpg' %}" alt="Skill-image">  
                         </div>
                         <div class="right-top js-tilt">
                            <img src="{% static 'images/skill/skill-1.jpg' %}" alt="Skill-image">
                        </div>
                        </div>
                    </div>
                    <!-- Success Image End -->

                    <!-- Success Content Start -->
                    <div class="offset-lg-1 col-12 col-xs-11 col-sm-11 col-md-11 col-lg-5 col-xl-5"  data-aos="fade-up">
                        <div class="success-content success-title-content  mt-lg-0 mt-40">
                            <!-- Section Title Two Start -->
                            <div class="section-title-two mb-lg-8 mb-6">
                                <span class="sub-title">Your success is our success</span>
                                <h3 class="title" class="">Vast network of trustworthy builders and investors</h3>
                                
                                <p>Our team of strategic consultants works hard to provide you with more than just space, but an optimal environment that expands your business and brand by attracting and retaining the first-rate talent, increasing productivity, reducing operating costs, and achieving a competitive advantage offering. Regardless of your space requirements, we are here to help. </p>
                                <a class="btn btn-primary  btn-hover-secondary mt-xl-8 mt-lg-8 mt-md-6 mt-4 know-btn" href="#">Know more<i class="fas fa-long-arrow-right arrow-right"></i></a>
                            </div>
                            <!-- Section Title Two End -->

                            
                        </div>

                    </div>
                    <!-- Success Content End -->
                </div>
            </div>
        </div>
        <section class="section section-brand">

            <div class="container">
                <div class="row">
                    <div class=" col-sm-4 text-center-brnd">
                        <h4>Our Brand</h4>
                    </div>
                    <!--end col-->
                    <div class=" col-sm-8 brand-outer-box">
                        <!--end col-->
                        <div class="brand-box">
                         <a href="https://boxally.in/"> <img src="{% static 'images/brand1.png' %}" alt="our-brand"></a>
                     </div>
                     <div class="brand-box">
                        <a href="https://www.instagram.com/furnco.in/"><img src="{% static 'images/brand2.png' %}" alt="our-brand"></a>
                    </div>
                </div>
            </div>
        </div>


        <!--end container-->
    </section>
    <div class="section testimonial-section section-padding-t90 section-padding-bottom">
        <div class="container-fluid">
            <div class="scale-title">
                <h2 class="title fz-32" id="title-current">Current Scale</h2>
                <p class="sub-title">Today we are serving spaces in more than 15 states in India and this graph raises contionusly.
                </p>
            </div>
            <div class="scale-grid-outer">

                <div class="scale-grid-box">
                    <img src="{% static 'images/agra.jpg' %}" alt="Current-Scale-Agra">
                    <h4>Agra</h4> 
                </div>
                <div class="scale-grid-box">
                    <img src="{% static 'images/ahemdabad.jpg' %}" alt="Current-Scale-Ahemdabad">
                    <h4>Ahemdabad</h4>
                </div>
                <div class="scale-grid-box">
                    <img src="{% static 'images/bhuvi.jpg' %}" alt="Current-Scale-Bhubaneswar">
                    <h4>Bhubaneswar</h4>
                </div>
                <div class="scale-grid-box">
                    <img src="{% static 'images/dhanbad.jpg' %}" alt="Current-Scale-Dhanbad">
                    <h4>Dhanbad</h4>
                </div>
                <div class="scale-grid-box">
                    <img src="{% static 'images/Guwahati.webp' %}" alt="Current-Scale-Guwahati">
                    <h4>Guwahati</h4>
                </div>
                <div class="scale-grid-box">
                    <img src="{% static 'images/indore.jpg' %}" alt="Current-Scale-Indore">
                    <h4>Indore</h4>
                </div>
                <div class="scale-grid-box">
                    <img src="{% static 'images/jaipur.jpg' %}" alt="Current-Scale-Jaipur">
                    <h4>Jaipur</h4>
                </div>
                <div class="scale-grid-box">
                    <img src="{% static 'images/kanpur.webp' %}" alt="Current-Scale-Kanpur">
                    <h4>Kanpur</h4> 
                </div>
                <div class="scale-grid-box">
                    <img src="{% static 'images/lko.jpg' %}" alt="Current-Scale-Lucknow">
                    <h4>Lucknow</h4>
                </div>
                <div class="scale-grid-box">
                    <img src="{% static 'images/patna.jpg' %}" alt="Current-Scale-Patna" >
                    <h4>Patna</h4>
                </div>
                <div class="scale-grid-box">
                    <img src="{% static 'images/ranchi.jpg' %}" alt="Current-Scale-Ranchi">
                    <h4>Ranchi</h4>
                </div>
                <div class="scale-grid-box">
                    <img src="{% static 'images/varanasi.jpg' %}" alt="Current-Scale-Varanasi">
                    <h4>Varanasi</h4>
                </div>
            </div>
        </div>

    </div>

    <div class="testimonial-section section section-padding-t90 section-padding-bottom">
        <div class="container-fluid pl-xl-16 pl-lg-3 pl-md-3 pl-sm-3 pl-3 pr-xl-16 pr-lg-3 pr-md-3 pr-sm-3 pr-3">
            <!-- Section Title Start -->
            <div class="section-title text-center aos-init aos-animate" data-aos="fade-up">
                <h2 class="title fz-32 title-header-title">What our customers are saying about our services</h2>
                <p class="sub-title">
                </p>
            </div>
            <!-- Section Title End -->

            <!--Testimonial Slider Start -->
            <div class="testimonial-slider swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-autoheight aos-init aos-animate" data-aos="fade-up">
                <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-2104px, 0px, 0px); height: 444px;">
                    <div class="swiper-slide" data-swiper-slide-index="0" style="width: 476px; margin-right: 50px;">
                        <!-- Static Testimonial Start -->
                        <div class="static-testimonial mb-6">
                            <div class="testimonial-image">
                            </div>
                            <div class="testimonial-content">
                                <p> Working with Cradlefeed was a great idea. They have one of the best infrastructure and very classic interiors. The team is very helpful and polite. Your purpose of using Cradlefeed services are completely valid and successful.</p>
                            </div>
                            <div class="author-info">
                                <div class="cite">
                                    <h6 class="name">Chandan Singh</h6>
                                    <span class="position">Aakash Edutech Pvt Ltd</span>
                                </div>
                            </div>
                        </div>
                        <!-- Static Testimonial End -->
                    </div>

                    <div class="swiper-slide swiper-slide-visible swiper-slide-prev" data-swiper-slide-index="1" style="width: 476px; margin-right: 50px;">
                        <!-- Static Testimonial Start -->
                        <div class="static-testimonial mb-6">
                            <div class="testimonial-image">
                            </div>
                            <div class="testimonial-content">
                                <p>Cradlefeed not only provide a good infrastructure but also a very comfortable work environment. There is plenty of space thay have. I would highly recommend this place. </p>
                            </div>
                            <div class="author-info">
                                <div class="cite">
                                    <h6 class="name">Saurabh kumar</h6>
                                    <span class="position">Bimagine</span>
                                </div>
                            </div>
                        </div>
                        <!-- Static Testimonial End -->
                    </div>

                    <div class="swiper-slide swiper-slide-visible swiper-slide-active" data-swiper-slide-index="2" style="width: 476px; margin-right: 50px;">
                        <!-- Static Testimonial Start -->
                        <div class="static-testimonial mb-6">
                            <div class="testimonial-image">
                            </div>
                            <div class="testimonial-content">
                                <p>Working with Cradlefeed was a great idea. They have one of the best infrastructure and very classic interiors. The team is very helpful and polite. Your purpose of using Cradlefeed services are completely valid and successful.</p>
                            </div>
                            <div class="author-info">
                                <div class="cite">
                                    <h6 class="name">Aman jain</h6>
                                    <span class="position">Ruagro Services</span>
                                </div>
                            </div>
                        </div>
                        <!-- Static Testimonial End -->
                    </div>
                    <div class="swiper-slide swiper-slide-visible swiper-slide-prev" data-swiper-slide-index="3" style="width: 476px; margin-right: 50px;">
                     <!-- Static Testimonial Start -->
                     <div class="static-testimonial mb-6">
                        <div class="testimonial-image">
                        </div>
                        <div class="testimonial-content">
                            <p>Awesome working environment. Ideal for startups and SMB'S. Amazing customer service. Keep it up Cradlefeed! </p>
                        </div>
                        <div class="author-info">
                            <div class="cite">
                                <h6 class="name">Amit Shukla</h6>
                                <span class="position"> AS and Associates Legal Services</span>
                            </div>
                        </div>
                    </div>
                    <!-- Static Testimonial End -->
                </div> 
                <div class="swiper-slide swiper-slide-visible swiper-slide-prev" data-swiper-slide-index="4" style="width: 476px; margin-right: 50px;">
                    <!-- Static Testimonial Start -->
                    <div class="static-testimonial mb-6">
                        <div class="testimonial-image">
                        </div>
                        <div class="testimonial-content">
                            <p>Cradlefeed has global outlook with wide opportunities for growth. Also active and innovative management with end to end support. Highly recommended. </p>
                        </div>
                        <div class="author-info">
                            <div class="cite">
                                <h6 class="name">Rakesh Tiwari</h6>
                                <span class="position">ACT Fibernet</span>
                            </div>
                        </div>
                    </div>
                    <!-- Static Testimonial End -->
                </div>
                <div class="swiper-slide swiper-slide-visible swiper-slide-prev" data-swiper-slide-index="4" style="width: 476px; margin-right: 50px;">
                    <!-- Static Testimonial Start -->
                    <div class="static-testimonial mb-6">
                        <div class="testimonial-image">
                        </div>
                        <div class="testimonial-content">
                            <p>Best place to work , I suggest people to personally visit the office and share your own experience . Everyone should explore Cradlefeed.</p>
                        </div>
                        <div class="author-info">
                            <div class="cite">
                                <h6 class="name">Krishna Kant</h6>
                                <span class="position">SBI Card</span>
                            </div>
                        </div>
                    </div>
                    <!-- Static Testimonial End -->
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span>
                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span>
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 3"></span>
                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
            <!--Testimonial Slider End -->
        </div>
    </div>

    <div class="section section-padding-t90-b100-b100" data-bg-color="#f8faff" style="background-color: rgb(248, 250, 255);">
        <div class="container shape-animate">
            <!-- Section Title Start -->
            <div class="brand section-title text-center mb-lg-12 mb-sm-8 mb-xs-8 aos-init aos-animate" data-aos="fade-up">
                <h2 class="title">We Serve</h2>
                <p class="sub-title">Happiness and full effort to grow your business. </p>
            </div>
            <!-- Section Title End -->

            <!-- Brand Section Start -->
            <div class="brand-section section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="brand-wrapper">
                                <div class="brand-list brand-list-gray">
                                    <div class="brand-carousel swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide brand">
                                                <a href="#">
                                                    <img src="{% static 'images/brand/vedantu.png' %}" alt="brand image">
                                                </a>
                                            </div>

                                            <div class="swiper-slide brand">
                                                <a href="#">
                                                    <img src="{% static 'images/brand/gpi.png' %}" alt="brand image">
                                                </a>
                                            </div>

                                            <div class="swiper-slide brand">
                                                <a href="#">
                                                    <img src="{% static 'images/brand/Huawei-Logo.png' %}" alt="brand image">
                                                </a>
                                            </div>

                                            <div class="swiper-slide brand">
                                                <a href="#">
                                                    <img src="{% static 'images/brand/byju.png' %}" alt="brand image">
                                                </a>
                                            </div>

                                            <div class="swiper-slide brand">
                                                <a href="#">
                                                    <img src="{% static 'images/brand/act.png' %}" alt="brand image">
                                                </a>
                                            </div>



                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %} 
 