
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cradlefeed India Commercial Real Estate Consultancy Private Limited | Cradlefeed.co.in</title>
    <meta name="keywords" content="cradlefeed indian commercial real estate consultancy private limited | cradlefeed.co.in"/>
    <link rel="icon" href="/static/images/logo/favicon.png" type="image/png">
    <link rel="canonical" href="https://cradlefeed.co.in"/>
    <meta property="og:url" content="https://cradlefeed.co.in"/>
    <meta property="og:title" content="Cradlefeed India Commercial Real Estate Consultancy Private Limited | Cradlefeed.co.in"/>
    <meta property="og:description" content="description" content="Cradlefeed is an Indian commercial Real Estate consultancy and service firm currently serving in more than 15 states. The firm provides services to commercial real estate users with a vast client portfolio, owners, investors and developers, they include drafting, proposing creation and services of the spaces. Currently serves the Corporate parks, Hotels and Retail sectors."/>
    <meta property="og:site_name" content="Cradlefeed"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://cradlefeed.co.in/static/images/logo/logo.png">
    <meta name="path_role" content="MAIN"/>
    <meta name="author" content="Cradlefeed"/>
    <meta name="description" content="Cradlefeed is an Indian commercial Real Estate consultancy and service firm currently serving in more than 15 states. The firm provides services to commercial real estate users with a vast client portfolio, owners, investors and developers, they include drafting, proposing creation and services of the spaces. Currently serves the Corporate parks, Hotels and Retail sectors."/>
    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png"> -->
    <link rel="stylesheet" href="/static/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="/static/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="/static/css/style.min.css">
    <link rel="stylesheet" href="/static/css/my-style.css">
    <link rel="stylesheet" href="/static/css/my-style.scss">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/device.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CSSJ2F3HLT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-CSSJ2F3HLT');
  </script>
</head>
<body>
    <div id="page" class="section home-page">
        <!--Top Header Start -->
        <div class="header-section header-white sticky-header section full-section">
        <div class="top-header">
            <div class="container">
                <div class="row row-center">
                    <div class="col-md-4 top-header-left">
                        <a href="https://www.linkedin.com/company/69234704/admin/"><i class="fab fa-linkedin linkedin-icon"></i></a>
                        <a href=" https://www.facebook.com/Cradlefeed-Consultancy-Private-Limited-102908238584832"><i class="fa fa-facebook facebook-icon"></i></a>
                        <a href="https://www.instagram.com/cradlefeed.co.in/"><i class="fab fa-instagram instagram-icon"></i></a>
                        <a href="https://in.pinterest.com/cradlefeed/_saved/"><i class="fab fa-pinterest-p pinterest-icon"></i></a>
                    </div> 
                    <div class="col-md-4 top-header-center">
                        <span><a href="tel: +91 8650700324"><i class="fas fa-mobile-alt"></i>  +91 8650700324</a></span> , <span><a href="tel: +91 7800009203"> +91 7800009203</a>
                    </span>
                   </div>
                   <div class="col-md-4 top-header-right">
                    <a href="mailto:someone@example.com"><i class="fas fa-envelope email-icon"></i> <span class="before-text">info.cradlefeed@gmail.com</span></a>

                </div>
            </div>
        </div>
    </div>
    <!--Top Header End -->
    <!-- Header Section Start -->
        <div class="header-inner">
            <div class="container position-relative">
                <div class="row justify-content-between align-items-center">

                    <!-- Header Logo Start -->
                    <div class="col-xl-2 col-auto order-0">
                        <div class="header-logo">
                            <a href="home.html">
                                <img class="dark-logo" src="/static/images/logo/logo.png" alt="Agency Logo">
                                <img class="light-logo" src="/static/images/logo/logo.png" alt="Agency Logo">

                            </a>
                        </div>
                    </div>
                    <!-- Header Logo End -->

                    <!-- Header Main Menu Start -->
                    <div class="col-auto col-xl d-flex align-items-center justify-content-xl-right justify-content-end order-2 order-xl-1">
                        <div class="menu-column-area d-none d-xl-block position-static">
                            <nav class="site-main-menu">
                                <ul>
                                    <li>
                                        <a href="home.html"><span class="menu-text">Home</span></a>
                                    </li>
                                    <li>
                                        <a href="about.html"><span class="menu-text">About Us</span></a>
                                    </li>
                                    <li>
                                        <a href="blog.html"><span class="menu-text">Blog</span></a>
                                    </li>
                                    <li>
                                        <a href="service.html"><span class="menu-text">Services</span></a>
                                    </li>
                                    <li>
                                        <a href="faqs.html"><span class="menu-text"> Faqs</span></a>
                                    </li>
                                    <li>
                                        <a href="contact.html"><span class="menu-text">Contact Us</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>


                        <!-- Header Mobile Menu Toggle Start -->
                        <div class="header-mobile-menu-toggle toggle-line d-xl-none ml-sm-2 toggle-hover">
                            <button class="toggle">
                                <i class="icon-top"></i>
                                <i class="icon-middle"></i>
                                <i class="icon-bottom"></i>
                            </button>
                                <!-- <button class="toggle-btn">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </button> -->
                            </div>
                            <!-- Header Mobile Menu Toggle End -->
                        </div>
                        <!-- Header Main Menu End -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Header Section End -->
        <section>
            <div class="intro-hero-wrap banner-image-height">
                <div class="banner-top"></div>
                <img src="/static/images/hero-image/hero-2.jpg" alt="Service-section-image">
                <div class="main-heading">
                  <h1>Cradlefeed Indian commercial Real Estate investment Consultancy | Cradlefeed</h1>
                  <div class="learn--more">
                    <span>
                     <a href="blog-details-3.html">See Our Services <i class='bx bx-right-arrow-alt bx-flashing'></i> 
                     </span>
                 </a>
             </div>
         </div>
     </section>


       <!--  <section>
            <div class="container">
                <div class="hero-section hero-section-heading">
                    <div class="row">
                            <div class="hero-heading">
                                <h2>Services</h2>
                                <h3 class="help-heading">Cradlefeed helps you to get your dream commercial space and provides complete office management services.</h3>
                            </div>
                            <div class="hero-points">
                                <ul type="none" class="grid--4">
                                    <li>
                                        <a href="#">
                                            Commercial Renting
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Drafting & Creating Space
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Internal Facility Management
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Real Estate Investment Consultancy
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
        </section> -->
        
        <!-- About Section Start -->
        <div class="section section-padding-t90 section-padding-bottom-90">
            <div class="container about--info about-outer">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-12" data-aos="fade-up">

                        <div class="about-content-area">

                            <div class="section-title-two">
                                <span class="sub-title">About us</span>
                                <h3 class="title" class="">Flexible Approach,<br> Stable Result</h3>
                            </div> 
                        </div>

                    </div>

                    <div class="col-xl-7 col-lg-6 col-12" data-aos="fade-up">
                        <div class="about-heading-area">

                            <p>Cradlefeed is an Indian commercial Real Estate consultancy and service firm as of now serving in excess of 15 states.  </p>
                            <p>The firm offers types of assistance to commercial real estate clients with a huge customer portfolio, proprietors, financial backers and designers, they incorporate drafting, proposing creation and services of the spaces. As of now serves the Corporate parks, Hotels and Retail areas. </p>
                            <p>The Firm trusts in conveying the responsibility and has managed to develop its character in an exceptionally limited capacity to focus time because of sheer commitment and hardwork. </p>

                        </div>
                    </div>
                    <!-- About Start -->

                </div>
                <!-- About Wrapper End -->

            </div>
            <div class="all--features feature-box">
                <div class="boxes">
                    <a href="services-details.html">
                        <div  class="boxes-circle">01</div>
                        <div class="sub--heding sub-heading-scale">
                            <h4> Commercial Renting</h4>
                            <p>The primary goal of any new business is to create a dedicated office space where its employees can produce optimum results. However, at a start-up stage, one must consider the possibility of investing in something smaller and affordable. The dynamic nature of the real estate industry in India suggests that you hire an expert from the industry to be a part of your team. Not only will they assist in renting and selling the commercial property but will also negotiate for you.</p>
                            <a href="services-details.html">Read More...</a>
                        </div>
                    </a>
                </div>
                <div class="boxes">
                    <a href="services-details-1.html">
                        <div  class="boxes-circle">02</div>
                        <div class="sub--heding sub-heading-scale">
                            <h4>Internal Facility Management</h4>
                            <p>Internal facility management refers to managing an organization’s largest asset. As the name suggests, it refers to the upkeep of the facilities and physical buildings. This is achieved by ensuring the comfort, functionality, safety, and efficiency of the built environment. </p>
                            <a href="services-details-1.html">Read More...</a>
                        </div>
                    </a>
                </div>
                <div class="boxes">
                    <a href="services-details-2.html">
                        <div  class="boxes-circle">03</div>
                        <div class="sub--heding sub-heading-scale">
                            <h4>Drafting & Creating Space</h4>
                            <p>Once you have finalised the commercial property that you wish to rent, the next step will be to personalize and design the space to suit your requirements. The basic element of interior designing is space creation and it begins with an extensive analysis of how the space is to be utilised. The designer drafts a plan that specifies the areas of the space and the activities that will take place in those areas</p>
                            <a href="services-details-2.html">Read More...</a>
                        </div>
                    </a>
                </div>
                <div class="boxes">
                    <a href="services-details-3.html">
                        <div  class="boxes-circle">04</div>
                        <div class="sub--heding sub-heading-scale">
                            <h4>Real Estate Investment Consultancy</h4>
                            <p>A real estate consultant has to provide a variety of services to help real estate companies amplify the value of their investments and grow their businesses. Builders, real estate investors, property developers, all depend on real estate investment consultancy groups or firms for advice. These real estate investment consultancy groups may also assist with real estate portfolios including- positioning, strategy, and financial analytics and modeling.</p>
                            <a href="services-details-3.html">Read More...</a>
                        </div>
                    </a>
                </div>

            </div>
        </div>
        <!-- About Section End -->



        <!-- Success Section Start -->
        <div class="section section-padding-top-180 success-section success-section-color success-section-padding-bottom-180">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="about-image-area right-0 skill-image-area">
                            <!-- <div class="about-image js-tilt">
                                <img src="/static/images/skill/skill-1.jpg" alt="">
                            </div> -->
                            <div class="success-left-img js-tilt">
                                <img src="/static/images/skill/skill-1.jpg" alt="Skill-image">
                            </div>
                            <div class="top-left js-tilt">
                                <img src="/static/images/skill/skill-1.jpg" alt="Skill-image">  
                            </div>
                            <div class="right-bottom js-tilt">
                             <img src="/static/images/skill/skill-1.jpg" alt="Skill-image">  
                         </div>
                         <div class="right-top js-tilt">
                            <img src="/static/images/skill/skill-1.jpg" alt="Skill-image">
                        </div>
                           <!--  <div class="about-image js-tilt">
                                <img src="/static/images/skill/skill-2.jpg" alt="">
                            </div> -->
                            <!-- Animation Shape Start -->
                           <!--  <div class="shape shape-1 scene">
                                <span data-depth="1"><img src="/static/images/shape-animation/video-shape-1.png" alt=""></span>
                            </div> -->
                            <!-- Animation Shape End -->
                        </div>
                    </div>
                    <!-- Success Image End -->

                    <!-- Success Content Start -->
                    <div class="offset-lg-1 col-12 col-xs-11 col-sm-11 col-md-11 col-lg-5 col-xl-5"  data-aos="fade-up">
                        <div class="success-content success-title-content  mt-lg-0 mt-40">
                            <!-- Section Title Two Start -->
                            <div class="section-title-two mb-lg-8 mb-6">
                                <span class="sub-title">Your success is our success</span>
                                <h3 class="title" class="">Vast network of trustworthy builders and investors</h3>
                                
                                <p>Our team of strategic consultants works hard to provide you with more than just space, but an optimal environment that expands your business and brand by attracting and retaining the first-rate talent, increasing productivity, reducing operating costs, and achieving a competitive advantage offering. Regardless of your space requirements, we are here to help. </p>
                                <a class="btn btn-primary  btn-hover-secondary mt-xl-8 mt-lg-8 mt-md-6 mt-4 know-btn" href="#">Know more<i class="fas fa-long-arrow-right arrow-right"></i></a>
                            </div>
                            <!-- Section Title Two End -->

                            
                        </div>

                    </div>
                    <!-- Success Content End -->
                </div>
            </div>
        </div>
        <section class="section section-brand">

            <div class="container">
                <div class="row">
                    <div class=" col-sm-4 text-center-brnd">
                        <h4>Our Brand</h4>
                    </div>
                    <!--end col-->
                    <div class=" col-sm-8 brand-outer-box">
                        <!--end col-->
                        <div class="brand-box">
                         <a href="https://boxally.in/"> <img src="/static/images/brand1.png" alt="our-brand"></a>
                     </div>
                     <div class="brand-box">
                        <a href="https://www.instagram.com/furnco.in/"><img src="/static/images/brand2.png" alt="our-brand"></a>
                    </div>
                </div>
            </div>
        </div>


        <!--end container-->
    </section>
    <div class="section testimonial-section section-padding-t90 section-padding-bottom">
        <div class="container-fluid">
            <div class="scale-title">
                <h2 class="title fz-32" id="title-current">Current Scale</h2>
                <p class="sub-title">Today we are serving spaces in more than 15 states in India and this graph raises contionusly.
                </p>
            </div>
            <div class="scale-grid-outer">

                <div class="scale-grid-box">
                    <img src="/static/images/agra.jpg" alt="Current-Scale-Agra">
                    <h4>Agra</h4> 
                </div>
                <div class="scale-grid-box">
                    <img src="/static/images/ahemdabad.jpg" alt="Current-Scale-Ahemdabad">
                    <h4>Ahemdabad</h4>
                </div>
                <div class="scale-grid-box">
                    <img src="/static/images/bhuvi.jpg" alt="Current-Scale-Bhubaneswar">
                    <h4>Bhubaneswar</h4>
                </div>
                <div class="scale-grid-box">
                    <img src="/static/images/dhanbad.jpg" alt="Current-Scale-Dhanbad">
                    <h4>Dhanbad</h4>
                </div>
                <div class="scale-grid-box">
                    <img src="/static/images/Guwahati.webp" alt="Current-Scale-Guwahati">
                    <h4>Guwahati</h4>
                </div>
                <div class="scale-grid-box">
                    <img src="/static/images/indore.jpg" alt="Current-Scale-Indore">
                    <h4>Indore</h4>
                </div>
                <div class="scale-grid-box">
                    <img src="/static/images/jaipur.jpg" alt="Current-Scale-Jaipur">
                    <h4>Jaipur</h4>
                </div>
                <div class="scale-grid-box">
                    <img src="/static/images/kanpur.webp" alt="Current-Scale-Kanpur">
                    <h4>Kanpur</h4> 
                </div>
                <div class="scale-grid-box">
                    <img src="/static/images/lko.jpg" alt="Current-Scale-Lucknow">
                    <h4>Lucknow</h4>
                </div>
                <div class="scale-grid-box">
                    <img src="/static/images/patna.jpg" alt="Current-Scale-Patna" >
                    <h4>Patna</h4>
                </div>
                <div class="scale-grid-box">
                    <img src="/static/images/ranchi.jpg" alt="Current-Scale-Ranchi">
                    <h4>Ranchi</h4>
                </div>
                <div class="scale-grid-box">
                    <img src="/static/images/varanasi.jpg" alt="Current-Scale-Varanasi">
                    <h4>Varanasi</h4>
                </div>
            </div>
        </div>

    </div>

    <div class="testimonial-section section section-padding-t90 section-padding-bottom">
        <div class="container-fluid pl-xl-16 pl-lg-3 pl-md-3 pl-sm-3 pl-3 pr-xl-16 pr-lg-3 pr-md-3 pr-sm-3 pr-3">
            <!-- Section Title Start -->
            <div class="section-title text-center aos-init aos-animate" data-aos="fade-up">
                <h2 class="title fz-32 title-header-title">What our customers are saying about our services</h2>
                <p class="sub-title">
                </p>
            </div>
            <!-- Section Title End -->

            <!--Testimonial Slider Start -->
            <div class="testimonial-slider swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-autoheight aos-init aos-animate" data-aos="fade-up">
                <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-2104px, 0px, 0px); height: 444px;">
                    <div class="swiper-slide" data-swiper-slide-index="0" style="width: 476px; margin-right: 50px;">
                        <!-- Static Testimonial Start -->
                        <div class="static-testimonial mb-6">
                            <div class="testimonial-image">
                            </div>
                            <div class="testimonial-content">
                                <p> Working with Cradlefeed was a great idea. They have one of the best infrastructure and very classic interiors. The team is very helpful and polite. Your purpose of using Cradlefeed services are completely valid and successful.</p>
                            </div>
                            <div class="author-info">
                                <div class="cite">
                                    <h6 class="name">Chandan Singh</h6>
                                    <span class="position">Aakash Edutech Pvt Ltd</span>
                                </div>
                            </div>
                        </div>
                        <!-- Static Testimonial End -->
                    </div>

                    <div class="swiper-slide swiper-slide-visible swiper-slide-prev" data-swiper-slide-index="1" style="width: 476px; margin-right: 50px;">
                        <!-- Static Testimonial Start -->
                        <div class="static-testimonial mb-6">
                            <div class="testimonial-image">
                            </div>
                            <div class="testimonial-content">
                                <p>Cradlefeed not only provide a good infrastructure but also a very comfortable work environment. There is plenty of space thay have. I would highly recommend this place. </p>
                            </div>
                            <div class="author-info">
                                <div class="cite">
                                    <h6 class="name">Saurabh kumar</h6>
                                    <span class="position">Bimagine</span>
                                </div>
                            </div>
                        </div>
                        <!-- Static Testimonial End -->
                    </div>

                    <div class="swiper-slide swiper-slide-visible swiper-slide-active" data-swiper-slide-index="2" style="width: 476px; margin-right: 50px;">
                        <!-- Static Testimonial Start -->
                        <div class="static-testimonial mb-6">
                            <div class="testimonial-image">
                            </div>
                            <div class="testimonial-content">
                                <p>Working with Cradlefeed was a great idea. They have one of the best infrastructure and very classic interiors. The team is very helpful and polite. Your purpose of using Cradlefeed services are completely valid and successful.</p>
                            </div>
                            <div class="author-info">
                                <div class="cite">
                                    <h6 class="name">Aman jain</h6>
                                    <span class="position">Ruagro Services</span>
                                </div>
                            </div>
                        </div>
                        <!-- Static Testimonial End -->
                    </div>
                    <div class="swiper-slide swiper-slide-visible swiper-slide-prev" data-swiper-slide-index="3" style="width: 476px; margin-right: 50px;">
                     <!-- Static Testimonial Start -->
                     <div class="static-testimonial mb-6">
                        <div class="testimonial-image">
                        </div>
                        <div class="testimonial-content">
                            <p>Awesome working environment. Ideal for startups and SMB'S. Amazing customer service. Keep it up Cradlefeed! </p>
                        </div>
                        <div class="author-info">
                            <div class="cite">
                                <h6 class="name">Amit Shukla</h6>
                                <span class="position"> AS and Associates Legal Services</span>
                            </div>
                        </div>
                    </div>
                    <!-- Static Testimonial End -->
                </div> 
                <div class="swiper-slide swiper-slide-visible swiper-slide-prev" data-swiper-slide-index="4" style="width: 476px; margin-right: 50px;">
                    <!-- Static Testimonial Start -->
                    <div class="static-testimonial mb-6">
                        <div class="testimonial-image">
                        </div>
                        <div class="testimonial-content">
                            <p>Cradlefeed has global outlook with wide opportunities for growth. Also active and innovative management with end to end support. Highly recommended. </p>
                        </div>
                        <div class="author-info">
                            <div class="cite">
                                <h6 class="name">Rakesh Tiwari</h6>
                                <span class="position">ACT Fibernet</span>
                            </div>
                        </div>
                    </div>
                    <!-- Static Testimonial End -->
                </div>
                <div class="swiper-slide swiper-slide-visible swiper-slide-prev" data-swiper-slide-index="4" style="width: 476px; margin-right: 50px;">
                    <!-- Static Testimonial Start -->
                    <div class="static-testimonial mb-6">
                        <div class="testimonial-image">
                        </div>
                        <div class="testimonial-content">
                            <p>Best place to work , I suggest people to personally visit the office and share your own experience . Everyone should explore Cradlefeed.</p>
                        </div>
                        <div class="author-info">
                            <div class="cite">
                                <h6 class="name">Krishna Kant</h6>
                                <span class="position">SBI Card</span>
                            </div>
                        </div>
                    </div>
                    <!-- Static Testimonial End -->
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span>
                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span>
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 3"></span>
                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
            <!--Testimonial Slider End -->
        </div>
    </div>

    <div class="section section-padding-t90-b100-b100" data-bg-color="#f8faff" style="background-color: rgb(248, 250, 255);">
        <div class="container shape-animate">
            <!-- Section Title Start -->
            <div class="brand section-title text-center mb-lg-12 mb-sm-8 mb-xs-8 aos-init aos-animate" data-aos="fade-up">
                <h2 class="title">We Serve</h2>
                <p class="sub-title">Happiness and full effort to grow your business. </p>
            </div>
            <!-- Section Title End -->

            <!-- Brand Section Start -->
            <div class="brand-section section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="brand-wrapper">
                                <div class="brand-list brand-list-gray">
                                    <div class="brand-carousel swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide brand">
                                                <a href="#">
                                                    <img src="/static/images/brand/vedantu.png" alt="brand image">
                                                </a>
                                            </div>

                                            <div class="swiper-slide brand">
                                                <a href="#">
                                                    <img src="/static/images/brand/gpi.png" alt="brand image">
                                                </a>
                                            </div>

                                            <div class="swiper-slide brand">
                                                <a href="#">
                                                    <img src="/static/images/brand/Huawei-Logo.png" alt="brand image">
                                                </a>
                                            </div>

                                            <div class="swiper-slide brand">
                                                <a href="#">
                                                    <img src="/static/images/brand/byju.png" alt="brand image">
                                                </a>
                                            </div>

                                            <div class="swiper-slide brand">
                                                <a href="#">
                                                    <img src="/static/images/brand/act.png" alt="brand image">
                                                </a>
                                            </div>



                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="footer-section section" data-bg-color="#030e22" style="background-color: rgb(3, 14, 34);">
        <div class="container">

            <div class="row mb-lg-14 mb-md-10 mb-6 footer">

                <div class="col-xl-4 col-lg-3 col-md-7 col-sm-6 col-12 mb-6">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="home.html">
                                <h4> Cradlefeed</h4>
                            </a>
                        </div>
                        <div class="footer-widget-content">
                            <div class="content">
                                <p class="contect-para"><a href="javascript:void(0)"></a>Cradlefeed is an Indian commercial Real estate consultancy and service firm currently serving in more than 15 states.
                                The firm provides services to commercial real estate users with a vast client portfolio, owners, investors, and developers, they include drafting proposing creation and services of the spaces.</p>
                                <p><a href="mailto:someone@example.com">info.cradlefeed@gmail.com</a> </p>
                            </div>
                            <div class="footer-social-inline">
                                <a href="https://www.linkedin.com/company/69234704/admin/"><i class="fab fa-linkedin linkedin-icon"></i></a>
                                <a href=" https://www.facebook.com/Cradlefeed-Consultancy-Private-Limited-102908238584832"><i class="fa fa-facebook facebook-icon"></i></a>
                                <a href="https://www.instagram.com/cradlefeed.co.in/"><i class="fab fa-instagram instagram-icon"></i></a>
                                <a href="https://in.pinterest.com/cradlefeed/_saved/"><i class="fab fa-pinterest-p pinterest-icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6 col-12 mb-6">
                    <div class="footer-widget">
                        <h4 class="footer-widget-title">Services</h4>
                        <div class="footer-widget-content footer-widget-content-space">
                            <ul>
                               <li><a href="#connect-url-renting">Commercial Renting</a></li>
                               <li><a href="#connect-url-internal">Internal Facility Management</a></li>
                               <li><a href="#connect-url-space">Drafting &amp; Creating Space</a></li>
                               <li><a href="#connect-url-real">Real Estate Investment Consultancy</a></li>
                           </ul>
                       </div>
                   </div>
               </div>


               <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6 col-12 mb-6 footer-section-list">
                <div class="footer-widget">
                    <h4 class="footer-widget-title">About</h4>
                    <div class="footer-widget-content">
                        <ul>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="service.html">Services</a></li>
                            <li><a href="faqs.html">Faqs</a></li>
                            <li><a href="terms-condition.html">Terms and Condition</a></li>
                            <li><a href="site-map.html">Site Map</a></li>
                            <li><a href="privacy-policy.html">Privacy and Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-xl-2 col-lg-3 col-md-7 col-sm-6 col-12 mb-6 footer-section">
                <div class="footer-widget footer-bottom-outer">
                    <h4 class="footer-widget-title">Contact</h4>
                    <div class="footer-widget-content">
                       <p class="brance-footer">Head Office</p>
                       <address>
                        3rd Floor,T.C-14, Shastri Commercial, Vibhuti Khand, Gomti Nagar, Lucknow - 226010, Uttar Pradesh.<br>
                    </address>
                    <p class="brance-footer">Noida Branch</p>
                    <address>
                        Unit- 206, 2nd Floor,Towr B IThum tower Block A, Sector 62  Noida, Uttar Pradesh 201309<br>
                    </address>

                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col">
            <p class="copyright">Copyright © 2021 <a href="home.html">Cradlefeed</a>. All Rights Reserved.</p>
        </div>
    </div>

</div>
</div>

<!-- Scroll Top Start -->
<a href="home.html" class="scroll-top" id="scroll-top">
    <i class="arrow-top fal fa-long-arrow-up"></i>
    <i class="arrow-bottom fal fa-long-arrow-up"></i>
</a>
<!-- Scroll Top End -->
</div>

<div id="site-main-mobile-menu" class="site-main-mobile-menu">
    <div class="site-main-mobile-menu-inner mobile-view">
        <div class="mobile-menu-header">
            <div class="mobile-menu-logo">
                <a href="home.html">
                    <img src="/static/images/logo/logo.png" alt="Agency Logo">
                </a>
            </div>
            <div class="mobile-menu-close">
                <button class="toggle">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
                   <!--  <button class="togle-button">
                        <i class="fa fa-times"></i>
                    </button> -->
                </div>
            </div>
            <div class="mobile-menu-content">
                <nav class="site-mobile-menu">
                    <ul>
                        <li>
                            <a href="home.html"><span class="menu-text">Home</span></a>
                        </li>
                        <li>
                            <a href="about.html"><span class="menu-text">About Us</span></a>
                        </li>
                        <li>
                            <a href="blog.html"><span class="menu-text">Blog</span></a>
                        </li>
                        <li>
                            <a href="service.html"><span class="menu-text">Services</span></a>
                        </li>
                        <li>
                            <a href="faqs.html"><span class="menu-text">Faqs</span></a>
                        </li>
                        <li class="site-mobile-menu-bottom">
                            <a href="contact.html"><span class="menu-text">Contact Us</span></a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <span><i class="fas fa-comment-dots open-button" onclick="openForm()"></i></span>

    <div class="chat-popup" id="myForm">
      <form class="form-container">
        <h1>Chat</h1>

        <label for="msg"><b>Message</b></label>
        <textarea placeholder="Type message.." name="msg" required></textarea>

        <button type="submit" class="btn">Send</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>

<div id="myModal" class="modal Query-form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Query Form</h3>
                <i class="far fa-times close" data-dismiss="modal"></i>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Contact Number">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                    <button type="submit" class="Query-form-btn"><a href="javascript:void(0)">Submit</a></button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/vendor/vendor.min.js"></script>
<script src="/static/js/plugins/plugins.min.js"></script>

<!-- Main Activation JS -->
<script src="/static/js/main.js"></script>
<!--  custom js -->
<script src="/static/js/custom.js" type="text/javascript"></script>
</body>

</html>