{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-title-section section section-padding-top" data-overlay="0.7" data-bg-image="{% static 'images/bg/breadcrumb-bg.jpg' %}" alt="breadcrumb-image">
    <div class="page-title">
        <div class="container heading">
            <!--<h2 class="title">We are an agency located in Lucknow</h2>-->
            <div class="main-heading">
               <h1>Privacy and Policy</h1>
           </div>
       </div>
   </div>
   <div class="page-breadcrumb position-static">
    <div class="container">
        <ul class="breadcrumb justify-content-center">
            <li><a href="home.html">Home</a></li>
            <li><a href="privacy-policy.html">Privacy and Policy</a></li>
        </ul>
    </div>
</div>
</div>
<div class="section privacy-policy-section ptb-50">
    <div class="container">
        <div class="col-sm-10 col-12 privacy-policy-content">
            <h3 class="section-title-heading">Privacy and Policy Cradlefeed</h3>
            <ul class="privacy-policy-list">
                <h4>Privacy Policy</h4>
                <p>This privacy policy sets out how 'Cradlefeed' uses and protects any information that you give on the 'Cradlefeed' website.
                    'Cradlefeed' is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.
                'Cradlefeed' may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from 1st March 2019.</p>
                <h4>WE MAY COLLECT THE FOLLOWING INFORMATION</h4>
                <li> Name</li>
                <li>Contact information including email address</li>
                <li>Other information relevant to customer services</li>

                <h4>What we do with the information</h4>
                <p> 
                We require this information to understand your needs and provide you with a better service, in particular for the following reasons:</p>
                <li>Inside record keeping.</li>
                <li>We may utilize the information to improve our services.</li>
                <li>We may occasionally send limited-time emails about new services, uncommon offers, or other information which we figure you may discover intriguing utilizing the email address which you have given.</li>
                <li>From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, and fax. We may use the information to customize our website according to your interests.</li>

                <h4>SECURITY</h4>
                <p>We are focused on guaranteeing that your information is secure. To forestall unapproved access or divulgence we have set up appropriate physical, electronic, and administrative methods to defend and get the information we gather on the web.</p>
                <h4>How we use Cookies</h4>
                <li>A cookie is a small record that asks permission to be put on your computer's hard drive. When you concur, the record is added and the cookie helps dissect web traffic or lets you know when you visit a specific site. Cookies permit web applications to respond to you as a person. The web application can tailor its operations to your needs, likes, and dislikes by get-together and recalling data about your preferences.</li>
                <li> We use traffic log cookies to distinguish which pages are being used. This helps us investigate information about page traffic and improve our website to tailor it to customer needs. We just use this data for statistical analysis purposes.</li>
                <li>In general, cookies assist us with giving you a superior website, by empowering us to screen which pages you discover useful and which you don't. A cookie, not the slightest bit gives us access to your computer or any data about you, other than the information you choose to share with us.</li>
                <li>You can choose to acknowledge or decrease cookies. Most internet browsers consequently acknowledge cookies, yet you can usually change your browser setting to decay cookies in the event that you like. This may keep you from exploiting the website.</li>
                <h4>Links to other websites</h4>
                <p>Our website may contain links to different websites of interest. In any case, whenever you have used these links to leave our site, you should take note that we don't have any command over that other website. Accordingly, we can't be responsible for the assurance and security of any data which you give whilst visiting such sites and such sites are not represented by this protection statement. You should exercise alert and take a gander at the security statement relevant to the website in question.</p>
                <p>On the off chance that you believe that any information we are holding on to you is incorrect or incomplete, if it's not too much trouble, write to or email us at the earliest opportunity, at the beneath email address. We will quickly correct any information discovered to be incorrect.</p>
                <h4>Contacting the US</h4>
                <p>If there are any questions regarding this privacy policy you may contact us using the information mentioned on our 'Contact Us page or email us at info.cradlefeed@gmail.com</p>

            </ul>

        </div>
    </div>
</div>

{% endblock %}