<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Commercial Renting | Internal Facility management | Drafting and creating space – Cradlefeed.co.in</title>
    <meta name="keywords" content="services, cradlefeed – Services"/>
    <link rel="icon" href="assets/images/logo/favicon.png" type="image/png">
    <link rel="canonical" href="https://cradlefeed.co.in/service.html"/>
    <meta property="og:url" content="https://cradlefeed.co.in/service.html"/>
    <meta property="og:title" content="Commercial Renting | Internal Facility management | Drafting and creating space – Cradlefeed.co.in"/>
    <meta property="og:description" content="Cradlefeed provides real estate Service Commercial renting, Internal management, drafting and creating space, real estate investment consultancy."/>
    <meta property="og:site_name" content="Cradlefeed"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://cradlefeed.co.in/assets/images/logo/logo.png">
    <meta name="path_role" content="MAIN"/>
    <meta name="author" content="Cradlefeed"/>
    <meta name="description" content="Cradlefeed provides real estate Service Commercial renting, Internal management, drafting and creating space, real estate investment consultancy."/>
    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png"> -->
    <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">
    <link rel="stylesheet" href="assets/css/my-style.css">
    <link rel="stylesheet" href="assets/css/my-style.scss">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/device.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CSSJ2F3HLT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-CSSJ2F3HLT');
  </script>
</head>
<body>
    <div id="page" class="section service">
        <!--  Top Header Start -->
        <div class="header-section header-white sticky-header section full-section">
         <div class="top-header">
            <div class="container">
                <div class="row row-center">
                    <div class="col-md-4 top-header-left">
                        <a href="https://www.linkedin.com/company/69234704/admin/"><i class="fab fa-linkedin linkedin-icon"></i></a>
                        <a href=" https://www.facebook.com/Cradlefeed-Consultancy-Private-Limited-102908238584832"><i class="fa fa-facebook facebook-icon"></i></a>
                        <a href="https://www.instagram.com/cradlefeed.co.in/"><i class="fab fa-instagram instagram-icon"></i></a>
                        <a href="https://in.pinterest.com/cradlefeed/_saved/"><i class="fab fa-pinterest-p pinterest-icon"></i></a>
                    </div> 
                    <div class="col-md-4 top-header-center">
                        <span><a href="tel: +91 8650700324"><i class="fas fa-mobile-alt"></i>  +91 8650700324</a></span> , <span><a href="tel: +91 7800009203"> +91 7800009203</a>
                    </span>
                   </div>
                   <div class="col-md-4 top-header-right">
                    <a href="mailto:someone@example.com"><i class="fas fa-envelope email-icon"></i> <span class="before-text">info.cradlefeed@gmail.com</span></a>

                </div>
            </div>
        </div>
    </div>
     <!--  Top Header End -->
    <!-- Header Section Start -->
    <!-- Header Main Menu Start -->
        <div class="header-inner">
            <div class="container position-relative">
                <div class="row justify-content-between align-items-center">

                    <div class="col-xl-2 col-auto order-0">
                        <div class="header-logo">
                            <a href="home.html">
                                <img class="dark-logo" src="assets/images/logo/logo.png" alt="Agency Logo">
                                <img class="light-logo" src="assets/images/logo/logo.png" alt="Agency Logo">
                            </a>
                        </div>
                    </div>
                    <!-- Header Logo End -->




                    <div class="col-auto col-xl d-flex align-items-center justify-content-xl-right justify-content-end order-2 order-xl-1">
                        <div class="menu-column-area d-none d-xl-block position-static">
                            <nav class="site-main-menu">
                                <ul>
                                    <li>
                                        <a href="home.html"><span class="menu-text">Home</span></a>
                                    </li>
                                    <li>
                                        <a href="about.html"><span class="menu-text">About Us</span></a>
                                    </li>
                                    <li>
                                        <a href="blog.html"><span class="menu-text">Blog</span></a>
                                    </li>
                                    <li>
                                        <a href="service.html"><span class="menu-text">Services</span></a>
                                    </li>
                                    <li>
                                        <a href="faqs.html"><span class="menu-text"> Faqs</span></a>
                                    </li>
                                    <li>
                                        <a href="contact.html"><span class="menu-text">Contact Us</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <div class="header-mobile-menu-toggle toggle-line d-xl-none ml-sm-2 toggle-hover">
                            <button class="toggle">
                                <i class="icon-top"></i>
                                <i class="icon-middle"></i>
                                <i class="icon-bottom"></i>
                            </button>

                        </div>

                    </div>




                </div>
            </div>
        </div>
    </div>
    <!-- Header Main Menu End -->


    <!-- Page Title Section Start -->
    <div class="page-title-section section section-padding-top" data-overlay="0.7" data-bg-image="assets/images/service-banner.jpg" alt="service-banner-image">
        <div class="page-title">
            <div class="container">
                <!--<h1 class="title">We are dedicated to our work</h1>-->
                <div class="main-heading">
                   <h1>Services</h1>
               </div>
           </div>
       </div>
       <div class="page-breadcrumb position-static">
        <div class="container">
            <ul class="breadcrumb justify-content-center">
                <li><a href="home.html">Home</a></li>
                <li><a href="service.html">Services</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Title Section End -->

<!-- Service Section Start -->
<div class="section service-page section-padding-t90 section-padding-bottom-30 section-all-space" id="connect-url-renting">
    <div class="container-fluid">
     <div class="service-grid">
         <div class="content">
            <a href="services-details.html">
                <h3 class="service-heading">Commercial Renting</h3>
                <p>Our team acts on behalf of corporate tenants to provide the office, industrial or commercial property that best suits your organization's needs.</p>
                <p>From small leases to large pre-committed leases and bespoke amenities, we tailor our strategy to suit your individual business goals. We direct and negotiate the local real estate marketplace to maximize savings, minimize risk and provide the space that best fits your needs.</p>
                <div class="features">

                </ul>
            </div>
        </div>
        <div class="image">
            <img src="assets\images\service.jpg" alt="service-image">
            
        </div>
    </a>
</div>

</div>
</div>
<div class="section section-padding-t90 section-padding-bottom-30 section-all-space" id="connect-url-internal">
    <div class="container-fluid">
       <div class="service-grid-2">
        <a href="services-details-1.html">
            <div class="image">
               <img src="assets\images\service-2.jpg" alt="service-image">
           </div>
       </a>
       <div class="content">
        <a href="services-details-1.html">
            <h3 class="service-heading">Internal Facility Managemnet</h3>
            <p>People spend 87% of their time in buildings. Therefore, your work environment must be maximally optimized. </p>
            <p>Our facility management covers a wide range of disciplines and services to ensure the functionality, comfort, safety, and requirements of the space you build. Put your daily operations on autopilot with our experienced IFM team.</p>
        </a>
        <div class="features"
        
    </ul>
</div>
</div>

</div>

</div>
</div>
<div class="section section-padding-t90 section-padding-bottom-30 section-all-space" id="connect-url-space">
    <div class="container-fluid">
       <div class="service-grid">
           <div class="content ">
            <a href="services-details-2.html">
                <h3 class="service-heading">Drafting & Creating Space</h3>
                <p>We offer planning and construction services for the delivery of ready-to-move rooms.</p>
                <p>Our single point of contact model offers site selection, design, construction, installation, testing, and commissioning of external and internal solutions.</p>
                <div class="features">

                </ul>
            </div>
        </div>
        <div class="image">
           <img src="assets\images\service-3.jpg" alt="service-image">
       </div>
   </div>
</a>
</div>
</div>
<div class="section  section-padding-t90 section-padding-bottom section-all-space" id="connect-url-real">
    <div class="container-fluid">
       <div class="service-grid-2">
        <a href="services-details-3.html">
            <div class="image">
               <img src="assets\images\service-4.jpg" alt="service-image">
           </div>
       </a>
       <div class="content" id="content-text">
         <a href="services-details-3.html">
            <h3 class="service-heading">Real Estate Investment Consultancy</h3>
            <p>We offer our clients tailor-made consulting solutions to increase the real estate potential of Indian cities.</p>
            <p>When it comes to real estate strategy, we work with investors, financiers, users, government departments and developers to create value, minimize risk and ensure optimal returns so that you can successfully develop, manage or monetize real estate.</p></a>
            <div class="features">

            </ul>
        </div>
    </div>

</div>

</div>
</div>
<!-- Service Section End -->


<div class="footer-section section" data-bg-color="#030e22" style="background-color: rgb(3, 14, 34);">
    <div class="container">

        <div class="row mb-lg-14 mb-md-10 mb-6 footer">

            <div class="col-xl-4 col-lg-3 col-md-7 col-sm-6 col-12 mb-6">
                <div class="footer-widget">
                    <div class="footer-logo">
                        <a href="home.html">
                            <h4 style="color: #fdfdfd;"> Cradlefeed</h4>
                        </a>
                    </div>
                    <div class="footer-widget-content">
                        <div class="content">
                            <p class="contect-para"><a href="javascript:void(0)"></a>Cradlefeed is an Indian commercial Real estate consultancy and service firm currently serving in more than 15 states.
                            The firm provides services to commercial real estate users with a vast client portfolio, owners, investors, and developers, they include drafting proposing creation and services of the spaces.</p>
                            <p><a href="mailto:someone@example.com">info.cradlefeed@gmail.com</a> </p>
                        </div>
                        <div class="footer-social-inline">
                            <a href="https://www.linkedin.com/company/69234704/admin/"><i class="fab fa-linkedin linkedin-icon"></i></a>
                            <a href=" https://www.facebook.com/Cradlefeed-Consultancy-Private-Limited-102908238584832"><i class="fa fa-facebook facebook-icon"></i></a>
                            <a href="https://www.instagram.com/cradlefeed.co.in/"><i class="fab fa-instagram instagram-icon"></i></a>
                            <a href="https://in.pinterest.com/cradlefeed/_saved/"><i class="fab fa-pinterest-p pinterest-icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6 col-12 mb-6">
                <div class="footer-widget">
                    <h4 class="footer-widget-title">Services</h4>
                    <div class="footer-widget-content footer-widget-content-space">
                        <ul>
                         <li><a href="#connect-url-renting">Commercial Renting</a></li>
                         <li><a href="#connect-url-internal">Internal Facility Management</a></li>
                         <li><a href="#connect-url-space">Drafting &amp; Creating Space</a></li>
                         <li><a href="#connect-url-real">Real Estate Investment Consultancy</a></li>
                     </ul>
                 </div>
             </div>
         </div>


         <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6 col-12 mb-6 footer-section-list">
            <div class="footer-widget">
                <h4 class="footer-widget-title">About</h4>
                <div class="footer-widget-content">
                    <ul>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="service.html">Services</a></li>
                        <li><a href="faqs.html">Faqs</a></li>
                        <li><a href="terms-condition.html">Terms and Condition</a></li>
                        <li><a href="site-map.html">Site Map</a></li>
                        <li><a href="privacy-policy.html">Privacy and Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-xl-2 col-lg-3 col-md-7 col-sm-6 col-12 mb-6 footer-section">
            <div class="footer-widget footer-bottom-outer">
                <h4 class="footer-widget-title">Contact</h4>
                <div class="footer-widget-content">
                 <p class="brance-footer">Head Office</p>
                 <address>
                    3rd Floor,T.C-14, Shastri Commercial, Vibhuti Khand, Gomti Nagar, Lucknow - 226010, Uttar Pradesh.<br>
                </address>
                <p class="brance-footer">Noida Branch</p>
                <address>
                    Unit- 206, 2nd Floor,Towr B IThum tower Block A, Sector 62  Noida, Uttar Pradesh 201309<br>
                </address>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col">
        <p class="copyright">Copyright © 2021 <a href="home.html">Cradlefeed</a>. All Rights Reserved.</p>
    </div>
</div>

</div>
</div>

<!-- Scroll Top Start -->
<a href="service.html" class="scroll-top" id="scroll-top">
    <i class="arrow-top fal fa-long-arrow-up"></i>
    <i class="arrow-bottom fal fa-long-arrow-up"></i>
</a>
<!-- Scroll Top End -->
</div>

<div id="site-main-mobile-menu" class="site-main-mobile-menu">
    <div class="site-main-mobile-menu-inner mobile-view">
        <div class="mobile-menu-header">
            <div class="mobile-menu-logo">
                <a href="home.html">
                    <img src="assets/images/logo/logo.png" alt="Agency Logo">
                </a>
            </div>
            <div class="mobile-menu-close">
                <button class="toggle">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>

            </div>
        </div>
        <div class="mobile-menu-content">
            <nav class="site-mobile-menu">
             <ul>
                <li>
                    <a href="home.html"><span class="menu-text">Home</span></a>
                </li>
                <li>
                    <a href="about.html"><span class="menu-text">About Us</span></a>
                </li>
                <li>
                    <a href="blog.html"><span class="menu-text">Blog</span></a>
                </li>
                <li>
                    <a href="service.html"><span class="menu-text">Services</span></a>
                </li>
                <li>
                    <a href="faqs.html"><span class="menu-text">Faqs</span></a>
                </li>
                <li class="site-mobile-menu-bottom">
                    <a href="contact.html"><span class="menu-text">Contact Us</span></a>
                </li>

            </ul>
        </nav>
    </div>
</div>
</div>


<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script>

<!-- Main Activation JS -->
<script src="assets/js/main.js"></script>
<!--  custom js -->
<script src="assets/js/custom.js" type="text/javascript"></script>
</body>



</html>