{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Page Title Section Start -->
    <div class="page-title-section section section-padding-top" data-overlay="0.7" data-bg-image="{% static 'images/service-banner.jpg' %}" alt="service-banner-image">
        <div class="page-title">
            <div class="container">
                <!--<h1 class="title">We are dedicated to our work</h1>-->
                <div class="main-heading">
                   <h1>Services</h1>
               </div>
           </div>
       </div>
       <div class="page-breadcrumb position-static">
        <div class="container">
            <ul class="breadcrumb justify-content-center">
                <li><a href="home.html">Home</a></li>
                <li><a href="service.html">Services</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Title Section End -->

<!-- Service Section Start -->
<div class="section service-page section-padding-t90 section-padding-bottom-30 section-all-space" id="connect-url-renting">
    <div class="container-fluid">
     <div class="service-grid">
         <div class="content">
            <a href="services-details.html">
                <h3 class="service-heading">Commercial Renting</h3>
                <p>Our team acts on behalf of corporate tenants to provide the office, industrial or commercial property that best suits your organization's needs.</p>
                <p>From small leases to large pre-committed leases and bespoke amenities, we tailor our strategy to suit your individual business goals. We direct and negotiate the local real estate marketplace to maximize savings, minimize risk and provide the space that best fits your needs.</p>
                <div class="features">

                </ul>
            </div>
        </div>
        <div class="image">
            <img src="{% static 'images\service.jpg' %}" alt="service-image">
            
        </div>
    </a>
</div>

</div>
</div>
<div class="section section-padding-t90 section-padding-bottom-30 section-all-space" id="connect-url-internal">
    <div class="container-fluid">
       <div class="service-grid-2">
        <a href="services-details-1.html">
            <div class="image">
               <img src="{% static 'images\service-2.jpg' %}" alt="service-image">
           </div>
       </a>
       <div class="content">
        <a href="services-details-1.html">
            <h3 class="service-heading">Internal Facility Managemnet</h3>
            <p>People spend 87% of their time in buildings. Therefore, your work environment must be maximally optimized. </p>
            <p>Our facility management covers a wide range of disciplines and services to ensure the functionality, comfort, safety, and requirements of the space you build. Put your daily operations on autopilot with our experienced IFM team.</p>
        </a>
        <div class="features"
        
    </ul>
</div>
</div>

</div>

</div>
</div>
<div class="section section-padding-t90 section-padding-bottom-30 section-all-space" id="connect-url-space">
    <div class="container-fluid">
       <div class="service-grid">
           <div class="content ">
            <a href="services-details-2.html">
                <h3 class="service-heading">Drafting & Creating Space</h3>
                <p>We offer planning and construction services for the delivery of ready-to-move rooms.</p>
                <p>Our single point of contact model offers site selection, design, construction, installation, testing, and commissioning of external and internal solutions.</p>
                <div class="features">

                </ul>
            </div>
        </div>
        <div class="image">
           <img src="{% static 'images\service-3.jpg' %}" alt="service-image">
       </div>
   </div>
</a>
</div>
</div>
<div class="section  section-padding-t90 section-padding-bottom section-all-space" id="connect-url-real">
    <div class="container-fluid">
       <div class="service-grid-2">
        <a href="services-details-3.html">
            <div class="image">
               <img src="{% static 'images\service-4.jpg' %}" alt="service-image">
           </div>
       </a>
       <div class="content" id="content-text">
         <a href="services-details-3.html">
            <h3 class="service-heading">Real Estate Investment Consultancy</h3>
            <p>We offer our clients tailor-made consulting solutions to increase the real estate potential of Indian cities.</p>
            <p>When it comes to real estate strategy, we work with investors, financiers, users, government departments and developers to create value, minimize risk and ensure optimal returns so that you can successfully develop, manage or monetize real estate.</p></a>
            <div class="features">

            </ul>
        </div>
    </div>

</div>

</div>
</div>
<!-- Service Section End -->


{% endblock %}