{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Page Title Section Start -->
        <div class="page-title-section section section-padding-top" data-overlay="0.7" data-bg-image="{% static 'images/bg/breadcrumb-bg.jpg' %}" alt="breadcrumb-image">
            <div class="page-title">
                <div class="container heading">
                    <!--<h2 class="title">We are an agency located in Lucknow</h2>-->
                    <div class="main-heading">
                       <h1>Site Map</h1>
                   </div>
               </div>
           </div>
           <div class="page-breadcrumb position-static">
            <div class="container">
                <ul class="breadcrumb justify-content-center">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="site-map.html">Site Map</a></li>
                </ul>
                <!-- <div class="coming-meaasge"><h2>Coming soon!</h2></div> -->
            </div>
        </div>
    </div>
    <div class="section site-map-section">
        <div class="container">
            <div class="site-map-content">
                <h3>Site Map</h3>
                <ul>  
                    <li><a href="home.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="service.html">Services</a></li>
                    <li><a href="faqs.html">Faqs</a></li>
                    <li><a href="terms-condition.html">Terms and Condition</a></li>
                    <li><a href="site-map.html">Site Map</a></li>
                    <li><a href="privacy-policy.html">Privacy and Policy</a></li>

                </ul>
            </div>
        </div>
        
    </div>
    
    {% endblock %}